@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width:900px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  /* background-color: red; */
}




.layout {
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    oklch(88.2% 0.059 254.128),
    white
  );
}
.layout-lines-container{
  max-width: 300px;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  inset:0;

}
.navbar-root {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
}
.logo {
  font-size: 20px;
  font-weight: 700;
  /* dip */
}
.links{
  display: flex;
  gap: 30px;
  align-items: center;
}

.links-items {
  font-size: 15px;
  text-decoration: none;
  color: oklch(43.9% 0 0);

}
.links-items:hover {
   color: black;
   transition: color 0.2s ease-out;
}
.btn{
  all:unset;
  padding: 8px 8px;
  /* margin: 3px; */
  background-color:oklch(62.3% 0.214 259.815);
  font-size: 13px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0,0.25);
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
}
.hero-root{
  padding: 50px 0px;
}
.badge{
  
  font-size: 11px;
  font-weight: 570;
  max-width: 200px;
  border-radius: 50px;
  background-color: #e4e0e0;
  padding: 2px 8px;
  /* width: fit-content; */
  /* margin: 400px; */
  margin: 0 auto;
  /* margin-top: 60px; */
  /* margin: 60px auto; */
  
  border: 0.5px solid #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
}


.hero-title{
  font-size: 60px; 
  
  font-weight: 552;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 1.1;
  margin-top: 50px;
  max-width: 800px;
  justify-content: center;
  margin-right:50px;
  margin-left:50px;

  background: linear-gradient(90deg, #0d006e, #00c6fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}

.hero-subtitle{
  font-size: 21px;
  justify-content: center;
  color: oklch(70.8% 0 0);
  margin-top: 20px;
  text-align: center;
  font-family: 'Manrope';
  max-width: 550px;
  /* margin-right:50px;
  margin-left:125px; */
/* background-color: rebeccapurple; */
 margin: 30px auto;
}

.hero-cta{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.btn-secondary{
  all: unset;
  font-size: 16px;
  color: black;
  padding: 4px 8px;


  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  border-radius: 5px;

  &:hover{
    background-color:oklch(87% 0 0)
  }
}

.left-line{
  height: 100%;
  width: 0.5px;
  background : linear-gradient(to bottom,#757373, #f5f5f5);
  /* background-color: red; */
  position: absolute;
  left: -355px;

  opacity: 0.5;
}
.right-line{
  height: 100%;
  width: 0.5px;
    background : linear-gradient(to bottom,#757373, #f5f5f5);
  /* background-color: red; */
  position: absolute;
  right: -355px;
  opacity: 0.5;
}

.hero-image-container{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   /* margin-top: -40px; */
}

.hero-image{
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: top left;

}



.herozontal-line{
  height: 2px;
  width: 100%;
  background: linear-gradient(to right,#f5f5f5,  #757373,#f5f5f5);
  position: absolute;
  top: -15px;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}